otus_architecture_lab_4/.vs/
otus_architecture_lab_4/packages/
otus_architecture_lab_4/lab4Tests/bin/
otus_architecture_lab_4/lab4Tests/obj/
otus_architecture_lab_4/otus_architecture_lab_4/bin/
otus_architecture_lab_4/otus_architecture_lab_4/obj/
